* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 1440px;
  min-height: 1024px;
  height:100%;
  min-width: 1024px;
  #flex-wrapper {
    max-width: 1440px;
    min-height: 579px;
    margin: auto;
    display: flex;
    min-width: 1024px;
    justify-content: space-between;
  }
}
